/*
Estilos da página index.html
*/
*{
    margin:0;
    padding:0;
}
.center{
    text-align: center;
    
}
.justify{
    text-align: justify;
}
.cor{
    color:rgb(250, 250, 250);
}
p{
    font-size: 16pt;
}
.bd{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnQOpq8yPJVg_oqY-fW5U4fB7JW4-XlgFHNg&usqp=CAU");
    /*background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf8iP5bzdECpnPe8F0dFliXGml5H8NXq7oVw&usqp=CAU");*/
    opacity: 2;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
    
}
.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.container-header{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content:space-between;
    padding: 15px;
  
}
.header{
    font-size: 20;
    background-color:rgb(12, 38, 187);
   
}

#menu li{
    display: inline;
    padding: 15px;
    
    
}
#menu li a{ 
    text-decoration: none;
    color:black;   
    font-size: 20px;
}
#menu li a:hover{
    color:rgb(233, 252, 255);
} 
.p-30{
    padding: 30px;
}
.p-15{
    padding: 15px;
}
.br-50{
    border-radius: 50%;
}
.wh-300{
    width: 300px;
    height: 300px;
}
.tm-social{
    width: 50px;
    height: 50px;
    padding: 10px;
}
.tm-ferramenta{
    width: 50px;
    height: 50px;
}
.mb-50{
    margin-bottom: 50px;
}
/*
Estilos da página contato.html
*/

.ml-50{
    margin-left: 50px;
}